# Application configuration
APP_CODE=tmc
APP=tmc

# Ginger authentication secret
SECRET_KEY=replace_me

# Ginger connection
GINGER_HOST=
GINGER_PORT=

# Customer ID
CID=

# GPA API version
GPA_VERSION=v1.20

# Include distribution data
INCLUDE_DISTRO=true